/* the streaming site buttons */
.streamBtns {
    display: flex;
    gap: 10px;
    /* margin-top: 10px; */
}

/* .streamBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: background 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;
} */
 .streamBtn {
    display: inline-flex;
    gap: 8px;
    padding: 8px 15px;
    align-items: center;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 25px;
    transition: background 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;
    text-decoration: none;
 }

.streamIcon {
    width: 17px;
    height: 17px;
}

.streamLabel{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#streamCrunchyroll:hover {
    background: rgba(244, 117, 33, 0.35);
    border-color: rgb(244, 117, 33);
    box-shadow: 0 0 15px rgba(244, 117, 33, 0.5);
}

.netflixBtn:hover {
    background: rgba(229, 9, 20, 0.35);
    border-color: rgb(229, 9, 20);
    box-shadow:0 0 15px rgba(229, 9, 20, 0.5);
}
.netflixBtn {
    position: relative;
}
.lineWrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:  hidden;
    border-radius: 25px;
    pointer-events: none;
    z-index: -1;
}
.lineWrap span.netflixLine{
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #b0060d;
    pointer-events: none;
    transition: transform 0.2s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}
.netflixBtn:hover .lineWrap span.netflixLine{
    transform: scaleY(1);
    transform-origin: top;
}
.netflixBtn span.netflixLine:nth-child(even){
    transform-origin: top;
}
.netflixBtn:hover span.netflixLine:nth-child(even){
    transform-origin: bottom;
}
#streamAnimeSuge:hover {
    background: rgba(231, 238, 240, 0.35);
    border-color: rgb(210, 221, 228);
    box-shadow: 0 0 15px rgba(203, 226, 231, 0.5);
}
#streamMangadex:hover{
    background: rgba(255, 103, 64, 0.35);
    border-color: rgb(255,103,64);
    box-shadow: 0 0 15px rgba(255, 103, 64, 0.5);
}
#streamMAL:hover{
    background: rgba(46, 81, 162, 0.35);
    border-color: rgb(46, 81, 162);
    box-shadow: 0 0 15px rgba(46, 81, 162, 0.5);
}
#streamAP:hover{
    background: rgba(232, 163, 61, 0.35);
    border-color: rgb(232, 163, 61);
    box-shadow: 0 0 15px rgba(232, 193, 7, 0.5);
}
#streamMoviePrime:hover{
    background: rgba(0,168,225,0.35);
    border-color: rgb(0,168,225);
    box-shadow: 0 0 15px rgba(0, 168, 225, 0.5);
}
#streamMovieAppleTv:hover{
    background: rgba(255, 255, 255, 0.15);
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(255, 255, 255,0.4);
}
#streamMovieMax:hover{
    background: rgba(155, 79, 255, 0.35);
    border-color: rgb(155, 79, 255);
    box-shadow: 0 0 15px rgba(155, 79, 255, 0.5);
}
.btnRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
/* #streamNetflix:hover .streamIcon{
    filter: brightness(0) invert(1);
    transition: filter 0.2s ease;
} */
.netflixBtn:hover .streamIcon{
    filter: drop-shadow(0 0 7px #fff);
    transition: filter 0.2s ease;
}