* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #1a1a1a;
    color: #ffffff;
    /* dark design looks good for glassmorphism design =) ig*/
}

/* design credit in the github readme =)  */
.posterCard {
    /* height: clamp(220px, 60vh, 500px);
    aspect-ratio: 2 /3;
    width: auto; */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    outline: 2px solid rgba(255,255,255,0.4);
    outline-offset: 3px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 -1px 1px rgba(255, 255, 255, 0.6),
        0 0 12px 3px rgba(255, 255, 255, 0.55);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.posterImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.posterCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent, rgba(255, 255, 255, 0.8), transparent);
}

.posterCard::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8), transparent,
            rgba(255, 255, 255, 0.3));
}

.rightInfo {
    flex: 1;
    min-width: 280px;
}

.theButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.theButtons button {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease;
}

.theButtons button:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.1);
}

.theButtons button:disabled:hover {
    background: rgba(255, 255, 255, 0.05);
    transform: scale(1);
}

/* the japanese text  */
.jpTitle {
    font-size: 12px;
}

.infoArea {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* max-width: 1200px; */
    max-width: clamp(300px, 90vw, 1200px);
    margin: 40px auto 0 auto;
}

.topWrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    /* max-width: 900px; */
}

#btnText {
    display: inline-block;
    transition: opacity 450ms ease;
}

/* names */
.engName {
    font-size: 27px;
    font-weight: bold;
}

.jpName {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

/* the genres */
.genreList {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.theGenre {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 13px;
}

/* anime filtering btn  */
.filterBar {
    display: flex;
    justify-content: flex-end;
    /* max-width: 900px; */
    max-width: clamp(300px, 90vw, 1200px);
    margin: 20px auto 0 auto;
}

/* the genresss */
#whichgenre {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px 20px;
    /* color: rgb(44, 16, 16); */
    color: white;
    cursor: pointer;
}

.filterBar {
    position: relative;
}

/* .genresbox{
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.05); */
/* background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
} */
.genresbox {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.genresbox.open {
    display: flex;
}

.g {
    white-space: nowrap;
    cursor: pointer;
}

.topNav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.categories {
    /* display: flexbox; */
    display: flex;
    gap: 10px;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease;
}

.categories.open {
    max-width: 500px;
}

.categories button {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 8px 15px;
    color: white;
    /* box-shadow: 5px #ffffff; */
    cursor: pointer;
    white-space: nowrap;
}

.categorybtn {
    color: white;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* for infor like status , date and moreeee */
.infocap {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.infocap div {
    font-size: 13px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-radius: 20px; */
    padding: 5px 15px;
}

/* for the description */
.describe {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.5;
    max-width: 100%;
    height: 200px;
    padding-right: 10px;
    overflow-y: auto;
}

/* diableing the mouse */
.theButtons button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.genresbox {
    border-radius: 10px;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    gap: 8px 15px;
    z-index: 5;
}

.topWrap {
    max-width: clamp(300px, 90vw, 1200px);
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}

.categories button.selected {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.genreBtn {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.genreBtn.selected {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (min-width: 601px) and (max-width: 1024px) {
    .infoArea {
        gap: 20px;
    }

    .posterCard {
        height: clamp(200px, 40vh, 300px);
    }

    .engName {
        font-size: 22px;
    }

    .describe {
        height: 160px;
        font-size: 13px;
    }

    .genresbox {
        width: 400px;
    }
}

/* responsiveness  */
@media (max-width: 600px) {
    .infoArea {
        flex-direction: column;
        align-items: center;
    }

    .posterCard {
        height: clamp(220px, 45vh, 320px);
    }

    .rightInfo {
        min-width: unset;
        width: 100%;
        text-align: center;
    }

    .genreList {
        justify-content: center;
        flex-wrap: wrap;
    }

    .infocap {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* bgblur */
.bgPoster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.5);
    transform: scale(1.1);
    z-index: -1;
}

/* source credited on github */
.infoArea {
    perspective: 1500px;
}

.posterCard {
    transition: transform 150ms ease-out,
        box-shadow 150ms ease-out,
        width 0.4s ease,
        height 0.4s ease;
}

.cardGlow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%,
            #ffffff22, #0000000f);
    pointer-events: none;
}

.instruct {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}

.infocap div:empty {
    display: none;
}

.rightInfo.centerMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: clamp(220px, 60vh, 420px);
}

.cardNotch {
    width: 30%;
    height: 14px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 0 5px 5px;
    background: rgba(255, 255, 255, 0.05);
}

.centerMode .instruct {
    position: relative;
    top: 80px;
}

.siteTitle {
    font-size: 25px;
    font-weight: bold;
}

/* a shining star  */
.star {
    display: inline-block;
    animation: shine 1.5s ease-in-out infinite;
}

@keyframes shine {

    0%,
    100% {
        opacity: 0.4;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
        text-shadow: 0 0 px rgba(255, 255, 255, 0.8);
    }
}

.bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.cardNotch {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(255, 255, 255, 0.5);
}
.notchbleft {
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(50% - 15%);
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 0;
}

.notchbright {
    position: absolute;
    top: -1px;
    right: 0;
    width: calc(50% - 15%);
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 10px 0 0;
}
.loadingClip{
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 60px;
    height: 60px;
    object-fit: contain;
    /* background: transparent; */
    /* mix-blend-mode: multiply; */
}