* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #1a1a1a; 
    color: #ffffff;
    /* dark design looks good for glassmorphism design =) */
}
/* design credit in the github readme =)  */
.posterCard{
    width: 200px;
    height: 300px;
    /* background-color: gray; */
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 -1px 1px rgba(255, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
}
.posterImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.posterCard::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
    transparent, rgba(255, 255,255, 0.8),transparent);
}
.posterCard::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
    rgba(255,255,255,0.8), transparent,
    rgba(255,255,255,0.3));
}

.theButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.theButtons button {
    background:  rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease;
}
.theButtons button:hover{
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.1);
}
/* the japanese text  */
.jpTitle{
    font-size: 12px;
}
.infoArea{
    display: flex;
    gap: 30px;
}